
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register">
  <form  (ngSubmit)="register()">
                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                        <h3>Welcome</h3>
                        <p>Register and buy best medical equipment!</p>
                        <input type="submit" name="" href="/login" value="Login"/><br/>
                    </div>

                    <div class="col-md-9 register-right">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Register form</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="1" [(ngModel)]="credentials.name" placeholder="First Name *" value="" />
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="2" [(ngModel)]="credentials.lastName" placeholder="Last Name *" value="" />
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="3" [(ngModel)]="credentials.password" placeholder="Password *" value="" />
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="4" placeholder="Confirm Password *" value="" />
                                        </div>
                                        <br>
                                        <div class="form-group">
                                          <input type="text" class="form-control" name="5" [(ngModel)]="credentials.username" placeholder="Username *" value="" />
                                      </div>
                                        <br>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="6" [(ngModel)]="credentials.email" placeholder="Your Email *" value="" />
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" name="7" [(ngModel)]="credentials.phoneNumber" placeholder="Your Phone *" value="" />
                                        </div>
                                        <br>
                                        <div class="form-group">
                                          <input type="text" class="form-control" name="8" [(ngModel)]="credentials.occupation" placeholder="Occupation *" value="" />
                                      </div>
                                        <br>
                                        <div class="form-group">
                                          <input type="text" class="form-control" name="9"[(ngModel)]="credentials.companyInfo"placeholder="Company info *" value="" />
                                      </div>
                                      <br>
                                      <div class="form-group">
                                        <input type="text" class="form-control" name="10" [(ngModel)]="credentials.address" placeholder="Country,City,Street and number *" value="" />
                                    </div>
                                        <br>
                                        <input type="submit" class="btnRegister"  value="Register"/>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
